@page "/photos"
@using Scotland2025.Application.Images

<div style="text-align:center">
    <div class="mt-5">
        <ImageCarousel images="@GetImageUrls()" />

        <div class="mt-5">
            <MudButton Href="https://photobucket.com/share/a5c8a165-c82a-4ab7-b415-34baa2c32a7a"
                       Target="_blank"
                       Variant="Variant.Filled"
                       Color="Color.Primary">
                View on PhotoBucket
            </MudButton>
        </div>
    </div>



</div>

@code {
    [Inject]
    public IImagesDataService imagesDataService { get; set; } = default!;

    private IList<Image> images = new List<Image>();

    protected override async Task OnInitializedAsync()
    {
        images = await imagesDataService.GetAsync();

    }

    private string[] GetImageUrls() => images.Select(image => image.Url).ToArray();
}
