@page "/photos"

<div style="text-align:center">
    <div class="mt-5">
        <ImageCarousel images="@images" />

        <div class="mt-5">
            <a href="https://photobucket.com/share/a5c8a165-c82a-4ab7-b415-34baa2c32a7a" target="_blank">View all</a>
        </div>
    </div>



</div>

@code {
    private string[] images = new string[]
    {
        "https://hosting.photobucket.com/71031e7a-93a0-48c1-8371-0e82ef5324a5/8cc988e1-d202-4f6a-bff9-0b7256151176.jpg",
        "https://hosting.photobucket.com/71031e7a-93a0-48c1-8371-0e82ef5324a5/05c7b5e0-b988-4fed-9340-8b7ca69f795b.jpg",
        "https://hosting.photobucket.com/71031e7a-93a0-48c1-8371-0e82ef5324a5/6c82f9cd-fc22-4d10-bf76-465d969bfeaf.jpeg"
    };

}
