
<PageHeader>@title</PageHeader>
@if (results == null || !ResultPosted)
{
    <ResultsNotPosted />
}
else
{
    <MudSimpleTable Dense="true" Bordered="true" Style="width:20rem">
        <thead>
            <tr>
                <th class="nameCol">Hole</th>
                <th class="nameCol">Winner</th>
                <th class="moneyCol">$</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in results)
            {
                <tr class="closesttohole">
                    <td class="nameCol">@result.Hole</td>
                    <td class="nameCol">@result.Winner</td>
                    <td class="moneyCol">@Utilities.DisplayWinnings(result.Payout)</td>
                </tr>
            }
        </tbody>

    </MudSimpleTable>
}

@code {
    [Parameter, EditorRequired] public string title { get; set; } = string.Empty;
    [Parameter, EditorRequired] public IList<ClosestToHoleEntry>? results { get; set; } = new List<ClosestToHoleEntry>();

    private bool ResultPosted => results != null && results.Any();

}
