
.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

.loading-progress circle {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 0.6rem;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

.loading-progress circle:last-child {
    stroke: #1a4cbe;
    stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
    transition: stroke-dasharray 0.05s ease-in-out;
}

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

.loading-progress-text:after {
    content: var(--blazor-load-percentage-text, "Loading");
}

/* Table elements */
.mud-simple-table table tr td,
.mud-simple-table table tr th {
    font-family: Roboto Condensed, sans-serif;
    text-align: center;
    color: black;
    font-weight: 400;
}

/* Table headers */
.mud-simple-table table tr th {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #1b6ac1;
    color: white;
}

/* Table Columns */
.mud-simple-table table td.posCol,
.mud-simple-table table th.posCol {
    column-width: 2rem;
}

.mud-simple-table table tr th.nameCol,
.mud-simple-table table tr td.nameCol {
    text-align: left;
    column-width: 2rem;
}

.mud-simple-table table tr th.hcpCol,
.mud-simple-table table tr td.hcpCol {
    column-width: 2rem;
}

.mud-simple-table table tr th.grossCol,
.mud-simple-table table tr td.grossCol {
    column-width: 2rem;
}

.mud-simple-table table tr th.netCol,
.mud-simple-table table tr td.netCol {
    column-width: 2rem;
}

.mud-simple-table table tr th.moneyCol,
.mud-simple-table table tr td.moneyCol {
    column-width: 4rem;

}

.mud-simple-table table tr th.countCol,
.mud-simple-table table tr td.countCol {
    column-width: 3rem;
}
.mud-simple-table table tr td.underpar {
    color: red;
}


/* Footer */
.footer {
    margin: 0.25rem 0 0.25rem 0;
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 300;
    background-color: #1a4cbe;
    color: #EEEEEE; /* #ECEFF1;  */
}

.footerLeft {
    text-align: left;
}

.footerRight {
    text-align: right;
}

.footer .copyright {
    font-style: italic;
}

.carouselArrows {
    color: white;
}

.carouselArrows:hover {
    color: black;
    background-color: lightgrey;
}

.responsive-image {
    width: 100%;
    max-width: 720px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}


@media only screen and (max-width: 400px) {
    .imageCarousel {
        height: 16rem;
    }
}

@media only screen and (min-width: 400px) {
    .imageCarousel {
        height: 24rem;
    }
}

@media only screen and (min-width: 600px) {
    .imageCarousel {
        height: 28rem;
    }

    .footer {
        margin: 0.5rem 0 0.5rem 0;
        padding: 0.6rem;
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 768px) {
    .imageCarousel {
        height: 32rem;
    }
}

@media only screen and (min-width: 960px) {
    .imageCarousel {
        height: 32rem;
    }
}

